@import "tailwindcss";

body {
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "Inter", "Segoe UI", sans-serif;
  -webkit-tap-highlight-color: transparent;
  background-color: #F8F9FB;
}

.ios-shadow {
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.05);
}

.ios-blur {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
